<div class="list-header">
  <h1>Create a new list</h1>
</div>
<div class="container">
  <div class="form" >
    <%= simple_form_for(@list) do |f|  %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div >
        <%= f.input :name, class:"form-input" %>
        <%= f.input :photo, as: :file, class:"form-input" %>
      </div>
      <div >
        <%= f.button :submit, class:"btn-gradient" %>
      </div>
    <% end %>
  </div>
</div>
