<div class="list-header">
  <h1>Create a bookmark</h1>
</div>
<div class="form" >
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div >
        <%= f.input :comment, class:"form-input" %>
        <%= f.association :movie, class:"form-input" %>
      </div>
      <div>
        <%= f.button :submit, class:"btn-gradient" %>
      </div>
    <% end %>
  </div>
</div>
